body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  border: 0px solid gray;
}

div.container {
  margin-top: 50px;
}

div.top {
  height: 100px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 3px solid gray;
}

div.top button {
  float: right;
  width: 150px;
  margin-right: 0px;
}

div.member {
  height: 200px;
  margin-bottom: 50px;
}

div.member img {
  width: 100px;
  margin-left: 30px;
  border: 7px solid rgb(0, 124, 248);
  border-radius: 100px;
}

div.member div.memberInfo {
  margin-top: 10px;
}

div.category {
  border-top: 1px solid gray;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

div.product {
  margin-bottom: 50px;
}

div.product div.productImage img {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}

div.product div.col-5 h5.productName {
  color: rgb(0, 124, 248);
  font-weight: bold;
}

div.payment {
  border-top: 1px solid gray;
  padding-top: 30px;
  margin-bottom: 30px;
}

div.payment div.form-check-inline {
  margin-top: 20px;
  width: 150px;
}

div.bottom {
  margin-bottom: 30px;
  border-top: 3px solid gray;
  padding-top: 30px;
}

div.button {
  margin-bottom: 30px;
}

div.button button {
  float: right;
  margin-left: 15px;
  width: 150px;
}
