ul.searchproduct{
    list-style:none;
    margin:0;
    padding:0;
}

div.total-wrap{
    float: left;
}


div.header{
    
    display: flex;
    justify-content: space-between;
    min-width: 60%; 
    width: 80%;
    margin-left: 10%;
}

div.dsecImage{
    
    width: 410px;
    height: 410px;
    flex-grow: 1;
    min-width: 410px;
    margin-right: 3%;
}

img.productImage{
    width: 100%;
    height: 100%;
}

ul.otherProduct-ul li{
    margin-right: 50px;
    width: 230px;
    display: inline-block;
    cursor: pointer;
}

ul.searchproduct li{
    margin-right: 50px;
    width: 230px;
    display: inline-block;
    cursor: pointer;
}

div.namedesc{
    margin: 5px 0px 0px;
}

div.name{
    font-weight: bold;
}

div.desc{
    color: #aaa;
}

em.sale{
    color: #AE0000;
}

div.productlist{
    margin-left: 18%;
    margin-top: 5%;
    width: 100%;
}
div.productdesc{
    width: 479px;
    height: 450px;
    font-size: 10pt;
    flex-grow: 1;
    margin-left: 3%;
}

div.dsecImage{
    max-width: 410px;
    max-height: 410px;
}

button.cart{
    border: 1px solid #346aff;
    color: #346aff;
    width: 192px;
    height: 42px;
    font-size: 16pt;
    margin: 0px 5px 0px 0px;
    background-color: white;
    float: left;
    margin-left: 10px;
}

button.perchase{
    background-color: #346aff;
    color: white;
    width: 192px;
    height: 42px;
    font-size: 16pt;
    margin: 0px 15px 0px 0px;
    float: left;
}

div.productStar{
    border-bottom: 1px solid rgb(172, 170, 170);
    height: 30px;
    vertical-align: middle;
}

div.productPrice{
    border-bottom: 0.5px solid rgb(207, 205, 205);
    height: 40px;
}

div.productSize{
    margin-top: 20px;
}

div.seller{
    margin-top: 10px;
}

div.productSeller{
    border-bottom: 0.5px solid rgb(207, 205, 205);
    height: 50px;
}

div.productSizeColor{
    border-bottom: 0.5px solid rgb(207, 205, 205);
    height: 50px;
}


div.cartPerchase{
    margin-top: 10px;
    text-align: center;
}

div.otherProduct{
    width : 100%;
    margin-left: 10%;
}

div.productMenuBar{
    width: 100%;
}

ul.productMenuBarUl li{
    display: inline-block;
    list-style: none;
    border-top: 2px solid #555555;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    width:33.3%;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    background-color: #FAFAFA;
    color: #555555;
    font-weight: bold;
    cursor: pointer;
}

div.product-detail-desc{
    width : 100%;
    text-align: center;
}

div.product-question-desc{
    width : 100%;
}

div.product-question-desc-header{
    width: 100%;
    height: 1000px;
    border:1px solid #aaa;
}

ul.product-question-desc{
    margin-left: 4%;
}

div.product-question-body-wrap{
    border-left: none;
    border-right: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    border-top: 2px solid #555555;
}

div.product-question-body{
    border-left: none;
    border-right: none;
    
}

div.product-question-body2{
    margin: 2%;
    border-bottom: 1px solid #aaa;
}

span.product-question-writeday{
    float: right;
    color: #aaa;
}

div.question-reply-wrap{
    border-top: 1px solid #aaa;
    background-color: rgb(250, 248, 248);
}

div.product-review{
    width:100%;
}

div.product-review-header{
    width: 100%;
    height: 1000px;
    border-top:1px solid #aaa;
}

.star{
    font-size:50px;
    color: orange;
}

span.reviewlength{
    font-size: 25pt;
}

ul.product-review-header-image{
    list-style: none;
    margin-left: -0.5%;
}

ul.product-review-header-image li{
    display: inline-block;
}

ul.product-review-header-image li img{
    width: 120px;
    height: 120px;
    margin: 1%;
}

div.product-review-searchbar{
    margin-left: 0%;
    width: 100%;
    height: 50px;
    border:1px solid #aaa;
    background-color: #555555;
}

div.searchbar-btn{
    margin-top: 15px;
    margin-left: 1%;
}

button.bestbtn{
    background: none;
    padding: 0;
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 9pt;
    color: white;
}

button.lastbtn{
    background: none;
    padding: 0;
    border: none;
    outline: none;
    font-size: 9pt;
    color: white;
}

span.search{
    text-align: center;
    font-size: 15pt;
    width: 30px;
    height: 28.5px;
    background-color: white;
    line-height: 30px;
    margin-bottom: 5px;
    border-left: none;
}

span.user-photo{
    border-bottom: 1px solid #aaa ;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25pt;
}

div.product-review-body{
    border-bottom: 1px solid #aaa ;
    width: 100%;
    height: 200px;
    margin-top: 5%;
}

.smstar{
    color: orange;
}

div.product-review-content{
    
    width: 100%;
    height: 100px;
}

div.prod-quantity__form{
    display: table;
    width: 83px;
    height: 40px;
    border: 1px solid #ccc;
}

input.prod-quantity__input{
    outline: none;
    text-align: center;
    border: 0;
    width: 61px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    color: #111;
    line-height: 25px;
    padding: 11px 0 9px 0;
}

div.prod-buy-quantity button{
    background: transparent;
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 0;
}

div.prod-buy-quantity button span{
    color: rgb(83, 82, 82);
    font-size: 5pt;
    text-align: left;
}

span.product-question-span{
    float: right;
    margin-right: 5%;
}

button.product-question-button{
    border: 1px solid #346aff;
    color: #346aff;
    background-color: white;
}

button.question-submit-btn{
    width: 110px;
    height: 30;
    background-color: #008CFF;
    color: white;
    margin-right: 1%;
}

button.question-cancel-btn{
    width: 110px;
    height: 30;
    background-color: #DDDDDD;
    color: #555555;
    margin-left: 1%;
}

span.writeDate{
    font-size: 10pt;
    color: #aaa;
}

button.review-rules{
    float: right;
    font-size: 10pt;
    color: #346aff;
    background-color: white;
    border: none;
}

button.write-review{
    float: right;
    background-color: #346aff;
    width: 106px;
    height: 32px;
    font-size: 10pt;
    color: #eee;
    border: none;
    border-radius: 10px;
    margin-left: 1%;   
}

div.review-header-section{
    border-top: 1px solid #346aff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    height: 10%;
}

div.review-header-section-content{
    width: 90%;
    height: 100%;
    float: right;
}

div.service-review-question-wrap{
    border-top: 1px solid black;

}

div.service-review-question{
    border-bottom: 1px solid #ddd;
    height: 100px;
}

div.service-review-wrap{
    height: 8%;
    min-height: 7%;
}

div.product-review-wrap{
    border-top:1px solid black;
    height: 600px;
}

div.product-review-question{
    border-bottom: 1px solid #ddd;
    height: 100px;
}

div.review-content{
    border-top: 1px solid #ddd;
    height: 150px;
}

div.review-image-wrap{
    height: 150px;
    border-top: 1px solid #ddd
}

.clickedstar {
    color: rgb(212, 180, 0);
}