* {
    box-sizing: border-box;
}
.btn {
    cursor:pointer;
    text-decoration: none;
    border-radius: 7%;
}

.copay-title-wrap {
    display: flex;
    justify-content: space-between;
    margin:1%;
}

.copay-history {
    display: flex;
    align-items: center;
}

.copay-benefit {
    display:flex;
}

.copay-item {
    border-top:3px solid rgb(206, 201, 201);
    border-right : 1px solid rgb(206, 201, 201);
    border-left : 1px solid rgb(206, 201, 201);
    border-bottom: 1px solid rgb(206, 201, 201);
    background-color: rgb(145, 190, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3%;
    font: 1.25rem;
}

.copay-admin-wrap {
    background-color: rgb(23, 150, 226);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1%;
    border-radius: 15px;
}

.copay-wrap-first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:80px;
    margin-bottom: 1.5%;
}

.copay-log {
    font-size: 1.5em;
}

.copay-money {
    font-size:1.25em;
}

.copay-btn-wrap {
    display:flex;
}

.account-btn {
    margin: 1%;
}

.copay-wrap-second {
    display:flex;
    justify-content: center;
}

.charging-btn {
    width: 200px;
    height: 44px;
    font-size: 16px;
    color: #fff ;
    text-decoration: none;
    background: #007bc7;
    margin-bottom: 1%;
}

.copay-summary {
    display: flex;
}

.cs-item {
    border-top:3px solid rgb(206, 201, 201);
    border-right : 1px solid rgb(206, 201, 201);
    border-left : 1px solid rgb(206, 201, 201);
    border-bottom: 1px solid rgb(206, 201, 201);
    background-color: rgb(145, 190, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3%;
    font: 1.25rem;
}
